/* General */

body,
html {
  width: 100%;
  height: 100%;
  font-family: Manrope;
}
html {
  font-size: 1vw;
}
header {
  width: 100%;
  background: #171a21;
  box-shadow: 0px 56px 80px rgba(0, 0, 0, 0.07),
    0px 23.3955px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 12.5083px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 7.01207px 10.0172px rgba(0, 0, 0, 0.035),
    0px 3.72406px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 1.54966px 2.21381px rgba(0, 0, 0, 0.0196802);
  transform: matrix(1, 0, 0, 1, 0, 0);
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  width: 92.45rem;
  margin: 0 auto;
}
section {
  background-color: #171a21;
  align-items: center;
  flex: 1 0 auto;
}
footer {
  background-color: #0d1017;
  bottom: 0;
  width: 100%;
}

/* Header */

.header {
  justify-content: space-between;
  margin: 1.063rem 0 1.0628rem 0;
}
.logo {
  justify-content: space-between;
}
.logo_img {
  width: 2.91rem;
  margin-right: 0.83rem;
}
.logo_text {
  width: 3.3rem;
  font-size: 0.83rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-right: 1.04rem;
  color: #ffffff;
}
.search_bar {
  background: #0d1017;
  color: #eceff4;
  border: none;
  padding: 0.83rem;
  border-radius: 5px;
  font-size: 0.74rem;
  width: 15.5rem;
}
.search_bar::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-family: "Manrope", sans-serif;
}
.search_bar:focus {
  outline: none;
}
.nav {
  margin-right: 3.07rem;
}
.nav a + a {
  margin-left: 3rem;
}
.menu-item {
  color: rgba(236, 239, 244, 0.4);

  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.menu-item:hover {
  color: #eceff4;
}
.useravatar {
  width: 2.91rem;
  margin-right: 0.83rem;
}
.exit {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 5px;

  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.exit_content {
  width: 5.83rem;
  height: 2.92rem;
  padding-left: 0.83rem;
  color: rgba(236, 239, 244, 0.4);
}
.exit_content svg {
  width: 1.25rem;
  margin-right: 0.4rem;
}
.exit:hover {
  border: 0.5px solid #eceff4;
}
.exit:hover #exit-icon {
  fill: #eceff4;
  fill-opacity: 1;
}
.exit:hover span {
  color: #eceff4;
}
.menu-hamburger {
  display: none;
}

/* Section */
/* MainGame */

.main-game {
  justify-content: space-between;
  width: 92.45rem;
  margin: 0 auto;
  padding: 3.54rem 0 4.16rem 0;
}

.path {
  font-size: 1.25rem;
  color: rgba(236, 239, 244, 0.4);
}
.main-game-title {
  margin-top: 1.25rem;
  font-weight: bold;
  font-size: 3.75rem;
  color: #eceff4;
}
.main-game-platforms {
  padding-top: 1.875rem;
  color: rgba(255, 255, 255, 0.5);
}
.platform {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.83rem;
}
.platform:nth-of-type(1) svg {
  width: 1.25rem;
  margin-right: 0.52rem;
}
.platform:nth-of-type(2) {
  margin: 0 1.5rem 0 1.5rem;
}
.platform svg {
  width: 0.83rem;
  margin-right: 0.625rem;
}
.main-game-synopsis {
  padding-top: 1.15rem;
  font-size: 1.25rem;
  line-height: 1.6rem;
  color: #eceff4;
  opacity: 0.6;
  width: 30.8rem;
  height: 15rem;
}
.main-game-price {
  margin-top: 1.15rem;
}
.final-price {
  font-weight: bold;
  font-size: 2.5rem;

  color: #eceff4;
}
.general-price {
  margin-left: 1.4rem;
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.4);

  background: #0d1017;
  border-radius: 5px;
  padding: 0.78rem 0.78rem 0.73rem 0.625rem;
}
.discount-percentage {
  background: linear-gradient(
    180.46deg,
    #f15c3c 0.39%,
    rgba(72, 37, 210, 0.8) 102.92%
  );
  border-radius: 5px;
  padding: 0.73rem 0.47rem 0.73rem 0.47rem;
}
.buy-wishlist {
  font-size: 0.83rem;
  margin-top: 2.19rem;
}
.buy-btn {
  color: #ffffff;
  padding: 0.83rem;

  background: linear-gradient(0deg, #4825d2, #4825d2);
  border-radius: 5px;
  cursor: pointer;
}
.wishlist-btn {
  color: rgba(255, 255, 255, 0.5);

  padding: 0.83rem;
  margin-left: 0.83rem;

  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
.wishlist-btn:hover {
  border: 0.5px solid #eceff4;
}
.wishlist-btn:hover #wishlist-btn-icon {
  fill: #eceff4;
  fill-opacity: 1;
}
.wishlist-btn:hover span {
  color: #eceff4;
}
.wishlist-btn svg {
  width: 0.83rem;
  margin-right: 0.52rem;
}
.death-stranding {
  width: 53rem;
  height: 29.8rem;
}
.death-stranding img {
  width: 100%;
  height: 100%;
}
.screenshots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.screenshots img {
  width: 12.29rem;
  height: 8.28rem;
}
.arrow {
  justify-content: center;
  width: 0.83rem;
  height: 0.83rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 500px;
}

/* Discounts */

.section-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  justify-content: space-between;
}
h2 {
  font-weight: bold;
  font-size: 2.08rem;
  color: #eceff4;
}
.view-all {
  font-size: 1.25rem;
  opacity: 0.7;
  color: #4825d2;
}
.store-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.store-item {
  width: 44.79rem;
  height: 20.67rem;
  position: relative;
  margin-bottom: 2.08rem;
}
.store-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-info {
  height: 0rem;
  overflow: hidden;
  transition: all 0.2s ease-out;

  position: absolute;
  text-align: right;
  right: 0px;
  bottom: 0px;

  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(55px);
  border-top-left-radius: 70px;
}
.store-item:hover .item-info {
  height: 4.4rem;
  padding: 2.5rem 0.94rem 1.56rem 1.56rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: #eceff4;
}
.price {
  font-size: 1.25rem;
  color: #eceff4;
}

/* Footer */

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 3rem 0;
}
.footer-inner-information {
  font-weight: 600;
  font-size: 0.83rem;
  color: #fff;
}

/* @media */

@media screen and (max-width: 768px) {
  html {
    font-size: 2vw;
  }
  .container {
    width: 45.4rem;
  }
  .main-game {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .main-game-description {
    height: 100%;
  }
  .main-game-synopsis {
    width: 45rem;
    height: 9.3rem;
    font-size: 1.04rem;
    line-height: 2.08rem;
  }
  .main-game-price {
    margin-top: 2.21rem;
  }
  .buy-wishlist {
    margin: 2.21rem 0 2.34rem 0;
  }
  .death-stranding {
    width: 100%;
    height: 28.14rem;
  }
  .screenshots {
    width: 45.4rem;
    margin: 0 auto;
  }
  .store-items {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .nav-user-exit {
    display: none;
  }
  .menu-hamburger {
    width: 3.125rem;
    display: flex;
  }
  .hamburger {
    width: 100%;
  }
}
